   {
      margin: 0;
      padding: 0;
   }
 
 
 
 
 .cabeçalho{
    background-color: #424E61;
    color:white ;
}

 .cabeçalho-imagem{
    color: width;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  .cabeçalho-imagem{
    width: 20%;
  }
  .cabeçalho-lista-imagem{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
  }